In [1]:
import numpy as np
import pandas as pd

In [2]:
df_credits_normalized = pd.read_csv('credits_normalized.csv', sep=',')
df_credits_normalized.head(2)

                                                cast    id          directors
0  ['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...   862  ['John Lasseter']
1  ['Robin Williams', 'Jonathan Hyde', 'Kirsten D...  8844   ['Joe Johnston']

In [3]:
df_movies_normalized = pd.read_csv('movies_normalized.csv', sep=',')
df_movies_normalized.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,['English'],Released,NaN,Toy Story,7.7,5415.0,12.451801,1995
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995

In [4]:
df_combined = pd.merge(df_movies_normalized, df_credits_normalized, on='id', how='inner', right_index=False)

In [5]:
df_combined.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year,cast,directors
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,['English'],Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter']
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston']
2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,...,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,0.000000,1995,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",['Howard Deutch']

In [6]:
df_combined.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'return', 'release_year', 'cast', 'directors'],
      dtype='object')

In [7]:
df_combined.shape

(45451, 22)

In [8]:
df_combined.isna().sum()
# Me llama la atención que belongs_to_collection tenga tantos nan

belongs_to_collection    40954
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  25026
title                        0
vote_average                 0
vote_count                   0
return                       0
release_year                 0
cast                         0
directors                    0
dtype: int64

In [9]:
#Vuelvo a leer el archivo original para comparar los nan en 'belongs_to_collection'
df_movies = pd.read_csv('movies_dataset.csv', sep=',')
df_movies.head(1)

C:\Users\rodal\AppData\Local\Temp\ipykernel_31536\816858083.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('movies_dataset.csv', sep=',')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [10]:
df_movies.isna().sum()
# En el archivo original tenía mas, entonces no me voy a preocupar

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Se crea el archivo .csv

In [11]:
df_combined.to_csv('C:/Users/rodal/Documents/Henry_DS_FT_11/Course_HW/Proyecto_Movies_1/ETL_Project_1/Complete_movies_and_credits_db.csv', index=False)

Se revisa que se hay creado correctamente

In [12]:
df_complete = pd.read_csv('complete_movies_and_credits_db.csv', sep=',')
df_complete.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,return,release_year,cast,directors
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,['English'],Released,NaN,Toy Story,7.7,5415.0,12.451801,1995,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter']
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,4.043035,1995,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston']

In [13]:
df_complete[['directors']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45451 entries, 0 to 45450
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   directors  45451 non-null  object
dtypes: object(1)
memory usage: 355.2+ KB

In [14]:
df_complete.shape

(45451, 22)

ÚLTIMOS CAMBIOS

Para las funciones #1 y #2 se creará la columna 'release_month' y  'release_day'

In [15]:
df_complete['release_date'] = pd.to_datetime(df_complete['release_date'])

In [16]:
import locale

# Set Spanish locale
locale.setlocale(locale.LC_TIME, 'es_ES')

# Assuming 'release_date' is a datetime column in your DataFrame
df_complete['release_month'] = df_complete['release_date'].dt.strftime('%B')
df_complete['release_day'] = df_complete['release_date'].dt.strftime('%A')

# Reset the locale to the default (optional)
locale.setlocale(locale.LC_TIME, '')

'Spanish_Mexico.1252'

In [17]:
df_complete.head(1)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,return,release_year,cast,directors,release_month,release_day
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,NaN,Toy Story,7.7,5415.0,12.451801,1995,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],octubre,lunes

In [18]:
# Convert the datetime values back to string format with the desired format
df_complete['release_date'] = df_complete['release_date'].dt.strftime('%Y-%m-%d')

Para la función #4 se debe convertir la columna 'vote_count' en int

In [19]:
df_complete['vote_count'] = df_complete['vote_count'].astype(int)

Revisamos el tipo de dato return para la función #5

In [20]:
print(type(df_complete['return'][0]))

<class 'numpy.float64'>

In [21]:
# Vemos que en la fila 5 tenemos un valor infinito
df_complete.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,return,release_year,cast,directors,release_month,release_day
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,NaN,Toy Story,7.7,5415,12.451801,1995,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],octubre,lunes
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413,4.043035,1995,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston'],diciembre,viernes
2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92,0.000000,1995,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",['Howard Deutch'],diciembre,viernes
3,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34,5.090760,1995,"['Whitney Houston', 'Angela Bassett', 'Loretta...",['Forest Whitaker'],diciembre,viernes
4,Father of the Bride Collection,0.0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173,inf,1995,"['Steve Martin', 'Diane Keaton', 'Martin Short...",['Charles Shyer'],febrero,viernes

In [22]:
#identificamos los infinitos
inf_count = np.isinf(df_complete['return']).sum()
print(f'numero de valores infinitos {inf_count}')

inf_ = np.isinf(df_complete['return'])
print(inf_)

numero de valores infinitos 2034
0        False
1        False
2        False
3        False
4         True
         ...
45446    False
45447    False
45448    False
45449    False
45450    False
Name: return, Length: 45451, dtype: bool

Para aligerar al archivo se elimina la columna no utilizada: 'tagline'

In [23]:
df_complete.drop(['tagline'], axis=1,inplace=True)

Se sube el update del archivo definitivo

In [24]:
df_complete.to_csv('C:/Users/rodal/Documents/Henry_DS_FT_11/Course_HW/Proyecto_Movies_1/ETL_Project_1/Complete_movies_and_credits_db.csv', index=False)

Se vuelve a revisar que se haya cargado correctamente:

In [25]:
df_complete = pd.read_csv('complete_movies_and_credits_db.csv', sep=',')
df_complete.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,status,title,vote_average,vote_count,return,release_year,cast,directors,release_month,release_day
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,Released,Toy Story,7.7,5415,12.451801,1995,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],octubre,lunes
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,Released,Jumanji,6.9,2413,4.043035,1995,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston'],diciembre,viernes

In [26]:
df_complete.shape

(45451, 23)

In [27]:
df_complete.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'title', 'vote_average', 'vote_count',
       'return', 'release_year', 'cast', 'directors', 'release_month',
       'release_day'],
      dtype='object')